<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>cose-lat</title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/jquery-ui.min.css">
    <link rel="stylesheet" href="css/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="css/jquery-ui.theme.min.css">
    <link rel="stylesheet" href="css/cytoscape.js-panzoom.css">
    <link href="css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="css/bootstrap-colorpicker.min.css">
    <link href="css/bootstrap-slider.min.css" rel="stylesheet">
    <link href="css/my-style.css" rel="stylesheet">
    <link rel="shortcut icon" href=""> <!--for favicon error -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<nav id="myNavbar" class="navbar navbar-light my-nav-bar" style="background-color: #e3f2fd" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container">
        <div class="navbar-header pull-right">
            <button type="button" class="navbar-toggle collapsed" style="background-color: #5bc0de" data-toggle="collapse" data-target="#menuNavbar">       
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>              
            </button>
            <a class="navbar-brand pull-right"><i>cose-lat</i></a>
        </div>
        <div class="collapse navbar-collapse" id="menuNavbar">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">File <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a id="new" href="#">New</a> </li>
                        <li><input id="file-input" type="file" style="display:none" />
                            <a href="#" type="file" id="load-file">Load ...</a></li>
                        <li class="dropdown">
                            <a href="#" data-toggle="dropdown" class="dropdown-toggle">Samples
                                <b class="right-caret"></b>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a id="sample0" href="#">Sample 0</a></li>
                                <li><a id="sample1" href="#">Sample 1</a></li>
                                <li><a id="sample2" href="#">Sample 2</a></li>
                                <li><a id="sample3" href="#">Sample 3</a></li>
                                <li><a id="sample4" href="#">Sample 4</a></li>
                                <li><a id="sample5" href="#">Sample 5</a></li>
                                <li><a id="sample6" href="#">Sample 6</a></li>
                                <li><a id="sample7" href="#">Sample 7</a></li>
                                <li><a id="sample8" href="#">Sample 8</a></li>
                                <li><a id="sample9" href="#">Sample 9</a></li>
                                <li><a id="sample10" href="#">Sample 10</a></li>
                                <li><a id="sample11" href="#">Sample 11</a></li>
                            </ul>
                        </li>
                        <li>
                            <a id="save-file" href="#">Save</a></li>
                        <li class="divider"></li>
                        <li>
                            <a id="save-as-png" href="#">Save as PNG</a>
                        </li>
                    </ul>
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">Edit <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a id="addNodeMenu" href="#">Add Node ...</a></li>
                        <li><a id="makeCompound" href="#">Add Compound For Selected</a></li>
                        <li><a id="addEdge" href="#">Add Edge Between Selected</a></li>
                        <li class="divider"></li>
                        <li><a id="delete" href="#">Delete Selected <i class="shortcut"> (DEL)</i> </a></li>
                        <li class="divider"></li>
                        <li class="disabled"><a id="undo" href="#">Undo <i class="shortcut"> (CTRL + Z)</i> </a></li>
                        <li class="disabled"><a id="redo" href="#">Redo <i class="shortcut"> (CTRL + Y)</i> </a></li>
                    </ul>
                </li>     
                <li class="dropdown">
                    <a href="#" data-toggle="modal" data-target="#quick-help-template">Help</a>
                </li>
            </ul>
        </div>
    </div><!-- /.navbar-collapse -->
</nav>

<div class="cyContainer">
  <div id="cy"></div>
  <div id="navigator"></div>
  <canvas id="nodeDetail" style="visibility: hidden;"></canvas>
</div>
    
<div class="container bottom-bar" style="background-color: #e3f2fd;">
    <div class="row text-center">
       <div class="col-sm-offset-1"></div>
        <div class="col-sm-10">
            <input id="slider" data-slider-id='sliderID' type="text"/>
        </div>
    </div>
    <div class="row no-gutter">
        <div class="col-lg-1">        
        </div>
        <div class="col-lg-3 text-center">
            <button type="button" id = "perform-layout" class="btn btn-info btn-md">Perform Layout</button>
            <button type="button" id = "layout-properties" class="btn btn-info btn-md text-left" title="Layout Properties"><span class="fa fa-ellipsis-h fa-lg"></span></button>
        </div>
        <div class="col-lg-4 text-center">
            <div class="btn-group btn-group-lg" role="group">
                <a id="stepBackwardButton" href="#" class="btn btn-info btn-lg">
                    <span class="fa fa-angle-left fa-lg"></span>
                </a>
                <a id="backwardButton" href="#" class="btn btn-info btn-lg ">
                    <span class="fa fa-angle-double-left fa-lg"></span>
                </a>
                <a id="stopButton" href="#" class="btn btn-info btn-lg">
                    <span class="fa fa-stop fa-fw" style="font-size:16px;"></span>
                </a>
                <a id="playButton" href="#" class="btn btn-info btn-lg">
                    <span class="fa fa-play fa-fw" style="font-size:16px;"></span>
                </a>
                <a id="forwardButton" href="#" class="btn btn-info btn-lg">
                    <span class="fa fa-angle-double-right fa-lg"></span>
                </a>
                <a id="stepForwardButton" href="#" class="btn btn-info btn-lg">
                    <span class="fa fa-angle-right fa-lg"></span>
                </a>
            </div>
        </div>
        <div class="col-lg-1 text-center dropup">
            <button class="btn btn-info dropdown-toggle" data-toggle="dropdown" data-placement="top" title="Animation Options"><span class="fa fa-cog fa-lg"></span></button>
            <ul class="dropdown-menu">
                <li><label for="normalizeCheck" class="checkbox-inline text-justify" style="margin-left:10px; margin-top: 6px" ><input type="checkbox" id="normalizeCheck">Normalize Forces</label></li>               
                <li role="separator" class="divider"></li>
                <li><label for="fitCheck" class="checkbox-inline text-justify" style="margin-left:10px; " ><input type="checkbox" id="fitCheck">Fit to Selected</label></li>
                <li role="separator" class="divider"></li>
                <li><label for="forcesCheck" class="checkbox-inline text-justify" style="margin-left:10px; margin-bottom: 6px"><input type="checkbox" id="forcesCheck" checked>Show Forces</label></li>                                               
            </ul>
        </div>    
        <div class="col-lg-3  text-center">
            <div class="row text-center">
                <div class="col-lg-12">
                    <span class ="text-primary">Animation Speed</span>
                </div>
            </div>  
            <div class="row text-center">
                <div class="col-lg-12">
                    <input class="pull-left" id="speedSlider" data-slider-id='speedSliderID' type="text"/>
                </div>
            </div>
        </div>
        <div class="col-lg-1">        
        </div>
    </div>

</div>

<div id="quick-help-template" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Quick Help</h4>
            </div>
            <div class="modal-body">
                <p><span style="font-weight: bold">File | Load ... :</span> Load a graph in GraphML</p>
                <p><span style="font-weight: bold">File | Save :</span> Save the current graph in GraphML</p>
                <p><span style="font-weight: bold">Add Node ...:</span> Add a simple node</p>
                <p><span style="font-weight: bold">Add Compound For Selected:</span> Add a new compound containing selected nodes</p>
                <p><span style="font-weight: bold">Add Edge Between Selected:</span> Add an edge between two selected nodes</p>
                <p><span style="font-weight: bold">Delete Selected:</span> Delete selected nodes and edges</p>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="modal fade" id="add-node-modal" tabindex="-1" role="dialog" aria-labelledby="add-node-modal-label">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="add-node-modal-label">Add new node</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="new-node-name">Name</label>
                    <input type="text" class="form-control" id="new-node-name" placeholder="Name" value="newNode">
                </div>
                <div class="form-group">
                    <label for="new-node-width">Width</label>
                    <input type="number" class="form-control" min="0" value="40" id="new-node-width" placeholder="Width">
                </div>
                <div class="form-group">
                    <label for="new-node-height">Height</label>
                    <input type="number" class="form-control" min="0" value="40" id="new-node-height" placeholder="Height">
                </div>
                <div class="form-group">
                    <label for="new-node-shape">Shape</label>
                        <select id="new-node-shape" class="form-control">
                            <option value="rectangle">Rectangle</option>
                            <option value="triangle">Triangle</option>
                            <option value="ellipse">Ellipse</option>
                            <option value="roundrectangle">Round Rectangle</option>
                            <option value="pentagon">Pentagon</option>
                        </select>
                </div>
                <div class="form-group">
                    <label for="new-node-color">Color</label>
                    <div id="new-node-color" class="input-group colorpicker-component">
                        <input type="text" value="gray" class="form-control" />
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="new-node-border-color">Border Color</label>

                    <div id="new-node-border-color" class="input-group colorpicker-component">
                        <input type="text" value="black" class="form-control" />
                        <span class="input-group-addon"><i></i></span>
                    </div>
                </div>
                <!--
                <div class="form-group">
                    <label for="new-node-x">X Position</label>
                    <input type="number" class="form-control" id="new-node-x" placeholder="X Position">
                </div>
                <div class="form-group">
                    <label for="new-node-y">Y Position</label>
                    <input type="number" class="form-control" id="new-node-y" placeholder="Y Position">
                </div>
            </div>-->
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" id="exit-new-node">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="save-new-node">Save changes</button>
            </div>
        </div>
    </div>
</div>
<div id="cose-bilkent-layout-table" title="CoSE-Bilkent Properties" style="display: inline;">
    <!-- sbgn layout table will be shown here -->
</div>

<script type="text/template" id="cose-bilkent-settings-template">
    <table class="table-condensed layout-table">
        <tr>
            <td>
                <span class="col-4 col-form-label"> Refresh </span>
            </td>
            <td class="col-xs-1">
                <input id="refresh" type="text" class="form-control input-sm" value= <%= refresh %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="col-4 col-form-label"> Padding </span>
            </td>
            <td class="col-xs-1">
                <input id="padding" type="text" class="form-control input-sm" value= <%= padding %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Node Repulsion </span>
            </td>
            <td class="col-xs-1">
                <input id="node-repulsion" type="text" class="form-control input-sm" value= <%= nodeRepulsion %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Ideal Edge Length </span>
            </td>
            <td class="col-xs-1">
                <input id="ideal-edge-length" type="text" class="form-control input-sm" value= <%= idealEdgeLength %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Edge Elasticity </span>
            </td>
            <td class="col-xs-1">
                <input id="edge-elasticity" type="text" class="form-control input-sm" value= <%= edgeElasticity %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Nesting Factor </span>
            </td>
            <td class="col-xs-1">
                <input id="nesting-factor" type="text" class="form-control input-sm" value= <%= nestingFactor %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Gravity </span>
            </td>
            <td class="col-xs-1">
                <input id="gravity" type="text" class="form-control input-sm" value= <%= gravity %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Number of Iterations </span>
            </td>
            <td class="col-xs-1">
                <input id="num-iter" type="text" class="form-control input-sm" value= <%= numIter %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Tiling Padding Vertical </span>
            </td>
            <td class="col-xs-1">
                <input id="tiling-padding-vertical" type="text" class="form-control input-sm" value= <%= tilingPaddingVertical %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Tiling Padding Horizontal </span>
            </td>
            <td class="col-xs-1">
                <input id="tiling-padding-horizontal" type="text" class="form-control input-sm" value= <%= tilingPaddingHorizontal %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Gravity Range Compound </span>
            </td>
            <td class="col-xs-1">
                <input id="gravity-range-compound" type="text" class="form-control input-sm" value= <%= gravityRangeCompound %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Gravity Compound </span>
            </td>
            <td class="col-xs-1">
                <input id="gravity-compound" type="text" class="form-control input-sm" value= <%= gravityCompound %> >
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Gravity Range </span>
            </td>
            <td class="col-xs-1">
                <input id="gravity-range" type="text" class="form-control input-sm" value= <%= gravityRange %> >
            </td>
        </tr>
        <!--
        <tr>
            <td>
                <span class="add-on layout-text"> Fit </span>
            </td>
            <td class="text-center">
                <input id="fit" type="checkbox" class="input-small layout-text" <% if(fit){%> checked <%} %>>
            </td>
        </tr>
        -->
        <tr>
            <td>
                <span class="add-on layout-text"> Randomize </span>
            </td>
            <td class="text-center">
                <input id="randomize" type="checkbox" class="input-small layout-text" <% if(randomize){%> checked <%} %>>
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Tile </span>
            </td>
            <td class="text-center">
                <input id="tile" type="checkbox" class="input-small layout-text" <% if(tile){%> checked <%} %>>
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Animate </span>
            </td>
            <td class="text-center">
                <input id="animate" type="checkbox" class="input-small layout-text" <% if(animate){%> checked <%} %>>
            </td>
        </tr>
        <tr>
            <td>
                <span class="add-on layout-text"> Show Animation </span>
            </td>
            <td class="text-center">
                <input id="showAnimation" type="checkbox" class="input-small layout-text" <% if(showAnimation){%> checked <%} %>>
            </td>
        </tr>
        <tr id="layout-buttons" class="text-center">
            <td>
                <button id="save-layout" class="btn btn-info">Save</button>
            </td>
            <td>
                <button id="default-layout" class="btn btn-info">Default</button>
            </td>
        </tr>
    </table>
</script>
<!-- VIEW SCRIPTS -->
<script src="js/view_scripts/jquery-1.12.4.min.js"></script>
<script src="js/view_scripts/bootstrap.min.js"></script>
<script src="js/view_scripts/jquery-ui.min.js"></script>
<script src="js/view_scripts/bootstrap-slider.min.js"></script>
<script src="js/view_scripts/underscore-min.js"></script>
<script src="js/view_scripts/backbone-min.js"></script>
<script src="js/view_scripts/bootstrap-colorpicker.min.js"></script>
<script src="js/view_scripts/jcanvas.js"></script> 
<script src="js/view_scripts/shortcut.js"></script> 

<!-- CYTOSCAPE & EXTENSIONS -->
<script src="js/main.js"></script>
<script src="node_modules/cytoscape/dist/cytoscape.min.js"></script>
<script src="node_modules/cytoscape-panzoom/cytoscape-panzoom.js"></script>
<script src="node_modules/cytoscape-undo-redo/cytoscape-undo-redo.js"></script>
<script src="node_modules/cytoscape-navigator/cytoscape-navigator.js"></script>
<script src="node_modules/cytoscape-cose-bilkent/cytoscape-cose-bilkent.js"></script>

<!-- CUSTOMS FOR DEMO -->
<script src="js/utils.add-remove.js"></script>
<script src="js/utils.expand-collapse.js"></script>
<script src="js/utils.element.js"></script>
<script src="js/converter.graphml-to-json.js"></script>
<script src="js/converter.json-to-graphml.js"></script>
<script src="js/Layouts.js"></script>
<script src="js/EditorActionsManager.js"></script>
<script src="js/IDGenerator.js"></script>
<script src="js/FileSaver.js"></script>
<script src="js/main.menu.js"></script>
</body>
</html>